<br><br><br><br><br>
<p id="notice"><%= notice %></p>

<%= image_tag @project.image %>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Place:</strong>
  <%= @project.place %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<% if admin_signed_in? %>
	<%= link_to 'New picture', new_project_picture_path(@project) %> |
	<%= link_to 'Edit', edit_project_path(@project) %> |
	<%= link_to 'Back', projects_path %>
<% end %>