<br><br><br><br><br>

<% if !@project.pictures.empty? %>

<div id="blog">
  <div class="container">
      <div class="section_header">
        <h3>Foto's voor <%= @project.title %></h3>
        <input type="text" class="input-large search-query" placeholder="Search">
      </div>
        <% @pictures.each do |picture| %>
          <div class="row post_row">
            <div class="span4 post">
              <div class="img">
                <%= link_to (image_tag picture.image(:medium)), [@project, picture] %>
              </div>
              <div class="text">
                <p><strong> Omschrijving: </strong> <%= picture.title %></p>
              </div>  
              <div class="author_box">   
                <p> 
                  <%= link_to 'Show', [@project, picture] %>
                  <%= link_to 'Edit', edit_project_picture_path(@project, picture) %>
                  <%= link_to 'Destroy', [@project, picture], :confirm => 'Are you sure?',
                  :method => :delete %>
                </p>
              </div>
              <a class="plus_wrapper" href="#">
                <span>+</span>
              </a>
            </div>
          </div>
        <% end %>
  </div>
</div>

<% else %>
  <p>Dit project heeft nog geen foto's.</p>
<% end %>

<br>
<p>
  <%= link_to 'New picture', new_project_picture_path(@project) %> |
  <%= link_to 'Back', @project %>
</p>

<div id="blog">
        <div class="container">
            <div class="section_header">
                <h3>Blog</h3>

                <input type="text" class="input-large search-query" placeholder="Search">
            </div>

            <!-- Post Row -->
            <div class="row post_row">
                <!-- Post -->
                <div class="span4 post">
                    <div class="img">
                        <a href="blogpost.html">
                            <img src="img/blog1.png" alt="">
                        </a>
                    </div>
                    <div class="text">
                        <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
                        <span class="date">Wed, 12 Dec.</span>
                        <p>
                            There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
                    </div>
                    <div class="author_box">
                        <h6>Alejandra Galvan</h6>
                        <p>Creative Director</p>
                    </div>
                    <a class="plus_wrapper" href="blogpost.html">
                        <span>+</span>
                    </a>
                </div>

                <!-- Post -->
                <div class="span4 post">
                    <div class="img">
                        <a href="blogpost.html">
                            <img src="img/blog2.png" alt="">
                        </a>
                    </div>
                    <div class="text">
                        <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
                        <span class="date">Wed, 12 Dec.</span>
                        <p>
                            There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
                    </div>
                    <div class="author_box">
                        <h6>Alejandra Galvan</h6>
                        <p>Creative Director</p>
                    </div>
                    <a class="plus_wrapper" href="blogpost.html">
                        <span>+</span>
                    </a>
                </div>

                <!-- Post -->
                <div class="span4 post last">
                    <div class="img">
                        <a href="blogpost.html">
                            <img src="img/blog3.png" alt="">
                        </a>
                    </div>
                    <div class="text">
                        <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
                        <span class="date">Wed, 12 Dec.</span>
                        <p>
                            There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
                    </div>
                    <div class="author_box">
                        <h6>Alejandra Galvan</h6>
                        <p>Creative Director</p>
                    </div>
                    <a class="plus_wrapper" href="blogpost.html">
                        <span>+</span>
                    </a>
                </div>
            </div>

            <!-- Post Row -->
            <div class="row post_row">
                <!-- Post -->
                <div class="span4 post">
                    <div class="img">
                        <a href="blogpost.html">
                            <img src="img/blog1.png" alt="">
                        </a>
                    </div>
                    <div class="text">
                        <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
                        <span class="date">Wed, 12 Dec.</span>
                        <p>
                            There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
                    </div>
                    <div class="author_box">
                        <h6>Alejandra Galvan</h6>
                        <p>Creative Director</p>
                    </div>
                    <a class="plus_wrapper" href="blogpost.html">
                        <span>+</span>
                    </a>
                </div>

                <!-- Post -->
                <div class="span4 post">
                    <div class="img">
                        <a href="blogpost.html">
                            <img src="img/blog2.png" alt="">
                        </a>
                    </div>
                    <div class="text">
                        <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
                        <span class="date">Wed, 12 Dec.</span>
                        <p>
                            There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
                    </div>
                    <div class="author_box">
                        <h6>Alejandra Galvan</h6>
                        <p>Creative Director</p>
                    </div>
                    <a class="plus_wrapper" href="blogpost.html">
                        <span>+</span>
                    </a>
                </div>

                <!-- Post -->
                <div class="span4 post last">
                    <div class="img">
                        <a href="blogpost.html">
                            <img src="img/blog3.png" alt="">
                        </a>
                    </div>
                    <div class="text">
                        <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
                        <span class="date">Wed, 12 Dec.</span>
                        <p>
                            There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
                    </div>
                    <div class="author_box">
                        <h6>Alejandra Galvan</h6>
                        <p>Creative Director</p>
                    </div>
                    <a class="plus_wrapper" href="blogpost.html">
                        <span>+</span>
                    </a>
                </div>
            </div>
            
            <!-- Post Row -->
            <div class="row post_row lastpost_row">
                <!-- Post -->
                <div class="span4 post">
                    <div class="img">
                        <a href="blogpost.html">
                            <img src="img/blog1.png" alt="">
                        </a>
                    </div>
                    <div class="text">
                        <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
                        <span class="date">Wed, 12 Dec.</span>
                        <p>
                            There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
                    </div>
                   <div class="author_box">
                        <h6>Alejandra Galvan</h6>
                        <p>Creative Director</p>
                    </div>
                    <a class="plus_wrapper" href="blogpost.html">
                        <span>+</span>
                    </a>
                </div>

                <!-- Post -->
                <div class="span4 post">
                    <div class="img">
                        <a href="blogpost.html">
                            <img src="img/blog2.png" alt="">
                        </a>
                    </div>
                    <div class="text">
                        <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
                        <span class="date">Wed, 12 Dec.</span>
                        <p>
                            There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
                    </div>
                   <div class="author_box">
                        <h6>Alejandra Galvan</h6>
                        <p>Creative Director</p>
                    </div>
                    <a class="plus_wrapper" href="blogpost.html">
                        <span>+</span>
                    </a>
                </div>

                <!-- Post -->
                <div class="span4 post last">
                    <div class="img">
                        <a href="blogpost.html">
                            <img src="img/blog3.png" alt="">
                        </a>
                    </div>
                    <div class="text">
                        <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
                        <span class="date">Wed, 12 Dec.</span>
                        <p>
                           There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
                    </div>
                    <div class="author_box">
                        <h6>Alejandra Galvan</h6>
                        <p>Creative Director</p>
                    </div>
                    <a class="plus_wrapper" href="blogpost.html">
                        <span>+</span>
                    </a>
                </div>
            </div>
            <div class="pagination">
                <ul>
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </div>