<br><br>
<div class="section_header">

<%= render 'layouts/showcase_activity' %><br><br><br><br>

<h3>Overige activiteiten</h3>
</div>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <% if admin_signed_in? %>
          <td><%= link_to 'Show', activity %></td>
          <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
          <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if admin_signed_in? %>
  <%= link_to 'New Activity', new_activity_path %>
<% end %>
